* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.options {
   display: flex;
   justify-content: flex-end;
   align-items: center;

   font-size: 13px;

   padding: 6px;

   height: 60px;

   gap: 20px;
}

.links {
   display: flex;
   align-items: center;
}

.dots-options {
   display: flex;
   align-items: center;

   gap: 15px;
   margin-right: 10px;
}

.links a {
   padding: 8px;
   text-decoration: none;
   color: #212121;
}

.links a:hover {
   padding: 8px;
   text-decoration: underline;
}

.dots-options a {
   padding: 2px;
}

.dots-options a:hover {
   padding: 2px;
   border-radius: 50px;
   background-color: gainsboro;
}

.menu img {
   width: 17px;
   height: 17px;
   margin: 8px;
}

button {
   color: #ffffff;
   background-color: #1a73e8;
   padding: 10px 30px 10px 30px;
   border: none;
   border-radius: 5px;

   cursor: pointer;
}

.container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

.search {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;

   width: 600px;
   height: 46px;

   border: 1px solid #dfe1e5;
   border-radius: 50px;

   margin-top: 40px;
}

.search:hover {
   box-shadow: 1px 2px 5px #dfe1e9;
}

input {
   margin-left: 20px;
   margin-right: 20px;
   width: 420px;

   border: none;
   outline: none;
}

.search svg:nth-child(1) {
   color: #7b7b7b;
}

.search a:nth-child(3) {
   margin-right: 10px;
   color: #7b7b7b;
}

.buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

   margin-top: 50px;
}

.buttons button {
   background-color: #f8f9fa;
   color: #000;
   border: 1px solid #ffff;
}

.buttons button:hover {
   border: 1px solid #b7bdcb;
   cursor: pointer;
}

.no-bg {
   height: calc(100vh - 481.29px);
}

footer {
   background-color: #f2f2f2;
   font-size: 14px;
}

.ft-1 {
   height: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: center;

   color: #70757a;

   margin-left: 20px;
}

.ft-2 {
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-left: 40px;
   margin-right: 40px;
}

.ft-2 a {
   padding: 10px;
   color: #70757a;

   text-decoration: none;
}

.ft-2 a:hover {
   color: #70757a;
   text-decoration: underline;
}

@media (max-width: 768px) {
   .options,
   button {
      font-size: 12px;
   }

   button {
      color: #ffffff;
      background-color: #1a73e8;
      padding: 10px 25px 10px 25px;
      border: none;
      border-radius: 5px;

      cursor: pointer;
   }

   footer {
      background-color: #f2f2f2;
      font-size: 10px;
   }

   .search,
   input {
      width: 80%;
   }

   .search svg:nth-child(1) {
      color: #7b7b7b;
      margin-left: 5%;
   }

   .search a:nth-child(3) {
      margin-right: 8px;
      color: #7b7b7b;
   }

   .search a:nth-child(4) {
      margin-right: 14px;
      color: #7b7b7b;
   }
}
